.unique-item {
    padding: 39px 29px 29px 29px;
    display: flex;
    flex-direction: column;
    line-height: 1.25;

    counter-increment: unique-count;

    @media (max-width: 1024px) {
        padding: 20px;
    }

    &:after {
        position: absolute;
        content: counter(unique-count);
        top: -10px;
        right: 10px;

        color: #eee;
        font-family: RoadRadio;
        font-weight: 700;
        line-height: 1;
        font-size: 160px;

        @media (max-width: 1024px) {
            font-size: 100px;
        }
    }

    h3 {
        z-index: 1;
        position: relative;
        flex: 1 1 auto;

        margin-bottom: 62px;
        max-width: 245px;

        font-weight: 700;
        text-transform: uppercase;

        @media (max-width: 1024px) {
            font-size: 16px;
        }

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }
    }

    p {
        margin-bottom: 9px;
        font-size: 18px;

        @media (max-width: 1024px) {
            font-size: 14px;
        }

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    span {
        flex: 1 1 auto;

        color: #808080;

        @media (max-width: 1024px) {
            font-size: 14px;
        }
    }
}
