.hero {
    background-color: $black;
    color: $white;

    margin-bottom: 200px;

    @media (max-width: 1024px) {
        margin-bottom: 170px;
    }

    @media (max-width: 768px) {
        margin-bottom: 250px;
    }

    // .hero__container

    &__container {
        padding-top: 175px;

        @media (max-width: 1024px) {
            padding-top: 140px;
        }
    }

    // .hero__body

    &__body {
        position: relative;
        z-index: 1;
    }

    // .hero__label

    &__label {
        display: flex;
        align-items: center;
        gap: 10px;

        &:before {
            display: block;
            content: "";
            width: 30px;
            height: 1px;
            background-color: $red;
            flex: 0 0 auto;
        }

        color: #aeaeae;
        font-weight: 600;
        margin-bottom: 25px;

        @include adaptive-value("font-size", 16, 12, 1);

        @media (max-width: 1024px) {
            margin-bottom: 15px;
        }
    }

    h1 {
        margin-bottom: 40px;
        color: #e7e7e7;
        font-family: RoadRadio;
        font-style: normal;
        font-weight: 300;
        line-height: 1.2;
        text-transform: uppercase;

        @include adaptive-value("font-size", 42, 14, 1);

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }

        b {
            font-weight: 700;
        }

        span {
            color: $red;
        }
    }

    // .hero__btns

    &__btns {
        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }

        ._btn {
        }

        div {
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    ol {
        gap: 0;
        border-radius: 5px;
        background-color: #171717;

        transform: translate(0, 50%);

        @media (max-width: 1024px) {
            transform: translate(0, 30%);
        }

        @media (max-width: 768px) {
            transform: translate(0, 50%);
            margin-top: -140px;
        }

        & > :not(:last-child) {
            @media (min-width: 769px) {
                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    top: 23px;
                    height: calc(100% - 46px);
                    width: 0.5px;
                    background-color: rgba($color: $red, $alpha: 0.5);

                    @media (max-width: 1024px) {
                        top: 20px;
                        height: calc(100% - 40px);
                    }
                }
            }
        }

        li {
            padding: 23px 30px;
            position: relative;

            @media (max-width: 1024px) {
                padding: 20px;
            }

            div {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                gap: 8px;

                label {
                    color: #aeaeae;
                    font-size: 16px;
                    line-height: 1.3;
                }
            }

            p {
                color: #e7e7e7;

                @include adaptive-value("font-size", 20, 14, 1);
            }
        }
    }
}

._arrow {
}
